<div id="footerwrap">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<p>本站由南京邮电大学信息化建设和管理办公室支持并创办，由南京邮电大学NMG小组运行维护。</p>
				<p>本站相关源码可在 <a href="https://github.com/NJUPT-Mirrors-Group/mirror-web"><em>这里（镜像源主页）</em></a> ，相关代码基于 <a href="https://github.com/tuna/mirror-web"><em>清华大学开源软件镜像站主页</em></a> 修改而来,在此感谢。</p>
			</div>

			<div class="col-lg-4">
				<h4>Contact Us</h4>
				<div>
					<ul class="social">
							<li><strong>github</strong> <br /> <a href="https://github.com/NJUPT-Mirrors-Group">https://github.com/NJUPT-Mirrors-Group</a></li>
							<li><strong>发送邮件</strong> <br />
								<a href="Mailto:mirrors@njupt.edu.cn">mirrors@njupt.edu.cn</a>  
							</li>
					</ul>
				</div>
			</div>

			<div class="col-lg-4">
				<!-- <img class="img-responsive" src="/static/img/logo-white.png" /> -->
				<p style="font-family: 'Indie Flower', cursive;font-size:20px">
					NJUPT-Mirrors-Group
				</p>
			</div>
		</div>
		<!--/row -->
	</div>
	<!--/container -->
</div>
<!--/footerwrap -->

<script>
	WebFont.load({
		custom: {
			families: ['Lato']
		}
	});
</script>
