<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="南京邮电大学开源镜像软件源，本源致力于为校内及周边用户提供丰富高质量的开源软件、Linux镜像服务，本镜像源由南京邮电大学团队负责维护">
<meta name="keywords" content="镜像站,镜像源,Linux,软件源,开源,南京邮电大学">
<meta name="author" content="">
<!-- <link rel="shortcut icon" href="/static/img/favicon.png"> -->
<title>南京邮电大学开源软件镜像站 | Njupt Open Source Mirror</title>
<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/bootstrap-select.min.css">
<link rel="stylesheet" href="/static/css/font-awesome.min.css" >
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/spinkit.css">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-select.min.js"></script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/markup.min.js"></script>
<script src="/static/js/webfont.js"></script>
</head>
